
img {
    height: 50px;
    font-weight: 50px;
}
div {
    align-items: center;
    /* border: 1px solid; */
    width: 250px;
    display: flex;
}
nav {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    width: 500px;
    justify-content: space-around;
    /* text-decoration: color black; */
    
}
.cm{
    font-size: 27px;
    display: inline-block;

}
header {
    display: flex; justify-content: space-around ;
    background-color: hotpink;
}

.MK{
    color: white;

}
a {
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    border-bottom: 2px solid; 
    color: red;

}

